/*响应式测试工具*/
.space {
    text-align: center;
}

.time {
    height: 19px;
    line-height: 19px;
    color: #fff;
    font-size: 12px;
    display: block;
}

.iphone {
    width: 375px;
    height: 806px;
    float: left;
    background-image: url(../images/iphone.png);
}

.iphone iframe {
    margin-top: 147px;
    margin-left: 27px;
    width: 320px;
    height: 548px;
    overflow: hidden;
    background-color: white;
}

.iphone5 {
    background: #fff url(/images/iphone5.png) top center no-repeat;
    padding-top: 105px;
}

.iphone5 iframe {
    width: 320px;
    height: 504px;
    margin-bottom: 169px;
}

/*.iphone5 div{width:320px;height:504px;margin-bottom:169px;}*/
.iphone5-x {
    background: #fff url(/images/iphone5-x.png) top center no-repeat;
    padding-top: 24px;
}

.iphone5-x iframe {
    width: 568px;
    height: 256px;
    margin-bottom: 88px;
}

.iphone6 {
    background: #fff url(/images/iphone6.png) top center no-repeat;
    padding-top: 105px;
}

.iphone6 iframe {
    width: 375px;
    height: 603px;
    margin-bottom: 169px;
}

.iphone6-x {
    background: #fff url(/images/iphone6-x.png) top center no-repeat;
    padding-top: 24px;
}

.iphone6-x iframe {
    width: 667px;
    height: 311px;
    margin-bottom: 87px;
}

.iphone6-plus {
    background: #fff url(/images/iphone6-plus.png) top center no-repeat;
    padding-top: 105px;
}

.iphone6-plus iframe {
    width: 414px;
    height: 672px;
    margin-bottom: 169px;
}

.iphone6-plus-x {
    background: #fff url(/images/iphone6-plus-x.png) top center no-repeat;
    padding-top: 23px;
}

.iphone6-plus-x iframe {
    width: 736px;
    height: 350px;
    margin-bottom: 87px;
}

.ipad {
    background: #fff url(/images/ipad.png) top center no-repeat;
    padding-top: 112px;
}

.ipad .time {
    margin-bottom: 76px;
    color: #bbb;
}

.ipad iframe {
    width: 768px;
    height: 929px;
    margin-bottom: 131px;
}

.ipad-x {
    background: #fff url(/images/ipad-x.png) top center no-repeat;
    padding-top: 100px;
}

.ipad-x .time {
    margin-bottom: 76px;
    color: #bbb;
}

.ipad-x iframe {
    width: 1024px;
    height: 675px;
    margin-bottom: 120px;
}


